@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
body {
    width: 1920px;
    line-height: 1;
    color: #333;
    margin: 0 auto;
}

/****** header ******/
.top_banner {
    width: 1920px;
    height: 40px;
    border-bottom: 1px solid #c8c8c8;
    background-color: #f6f6f6;
}
.top_banner .inner {
    width: 1280px;
    margin: 0 auto;
    line-height: 40px;
}
.top_banner .inner ul li {
    display: inline-block;
    padding: 0 13px;
    border-right: 1px solid #c8c8c8;
}
.top_banner .inner ul li:first-child {
    background-color: #ec4d2c;
    color: #fff;
    border-right:none;
}


.top_logo {
    width: 1920px;
    height: 114px;
    margin: 0 auto;
    text-align: center;
}
.top_logo img {
    width: 175px;
    height: 102px;
}

.main_banner {
    width: 1920px;
    height: 45px;
    border-top: 1px solid #eaeaea;
}
.main_banner .inner {
    width: 1280px;
    line-height: 45px;
    margin: 0 auto;
}
.main_banner .inner ul {
    display: flex;
    justify-content: space-between;
    padding: 0 95px;
}
.main_banner .inner ul li::after {
    content: "∕";
    padding-left: 80px;
    color: #eaeaea;
}
.main_banner .inner ul li:last-child:after {
    content: "";
}
.main_banner .inner ul li:hover {
    color: #ec4d2c;
}

/****** main ******/

.main_visual {
    width: 1920px;
    height: 435px;
    margin-bottom: 80px;
}
.main_visual .inner {
    position: relative;
}
.main_visual .inner figure {
    width: 1920px;
    height: 435px;
}
.main_visual .inner figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main_visual .inner div {
    width: 352px;
    height: 312px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00000036;
    border: 1px solid #fff;
    text-align: center;
    padding: 60px 0;
}
.main_visual .inner div h3 {
    font-size: 38px;
    color: #fff;
    line-height: 49.4px;
    margin-bottom: 25px;
}
.main_visual .inner div p {
    font-size: 16px;
    line-height: 1.3;
    color: #fff;
    display: block;
}
.main_visual .inner .edge1 {
    position: absolute;
    top: 52px;
    left: 775px;
    width: 61px;
    height: 60px;
}
.main_visual .inner .edge1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main_visual .inner .edge2 {
    position: absolute;
    bottom: 52px;
    right: 775px;
    width: 61px;
    height: 60px;
}
.main_visual .inner .edge2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.cont01 {
    width: 1920px;
    padding: 80px 0;
}
.cont01 .inner {
    width: 1280px;
    margin: 0 auto;
}
.cont01 .inner h3 {
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
}
.cont01 .inner p {
    font-size: 22px;
    margin-bottom: 30px;
    text-align: center;
}
.cont01 .inner ul {
    margin-bottom: 40px;
}
.cont01 .inner ul li {
    display: inline-block;
    color: #797979;
}
.cont01 .inner ul li::after {
    content: "∣";
    padding: 0 13px;
}
.cont01 .inner ul li:nth-child(3) {
    color: #ec4d2c;
    font-weight: 700;
}
.cont01 .inner ul li:nth-child(3)::after {
    color: #797979;
    font-weight: 400;
}
.cont01 .inner ul li:nth-child(4)::after {
    display: none;
}
.cont01 .inner .list {
    display: flex;
    justify-content: space-between;
}
.cont01 .inner .list .item {
    width: 308px;
    height: 470px;
}
.cont01 .inner .list .item div {
    width: 308px;
    height: 370px;
    border: 1px solid #eee;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.cont01 .inner .list .item div img {
    width: 290px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}
.cont01 .inner .list .item:hover div img {
    transition: 0.5s;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2);
}
.cont01 .inner .list .item:hover h4 {
    color: #ec4d2c;
}
.cont01 .inner .list .item h4 {
    font-size: 24px;
    margin: 20px 0 20px 10px;
}
.cont01 .inner .list .item p {
    font-size: 15px;
    line-height: 19.5px;
    margin: 0 0 40px 10px;
    text-align: left;
}
.cont01 .inner p:nth-of-type(2) {
    width: 156px;
    height: 60px;
    margin: 40px auto 0;
    background-color: #f2f2f2;
    line-height: 60px;
    font-size: 18px;
}
.cont01 .inner p:nth-of-type(2):hover {
    background-color: #ddd;
}

.quick_menu {
    width: 1920px;
    margin-bottom: 80px;
}
.quick_menu .list {
    width: 1280px;
    display: flex;
    padding: 0 295px;
    justify-content: space-between;
    margin: 0 auto;
}

.quick_menu .list .item:hover p{
    color: #333;
}
.quick_menu .list .item:hover figure {
    background-color: #ec4d2c;
}
.quick_menu .list .item figure {
    text-align: center;
    margin-bottom: 15px;
    background-color: #f19327;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    line-height: 95px;
}
.quick_menu .list .item p {
    color: #797979;
    font-size: 15px;
    margin-left: 12px;
}
.quick_menu .list .item:nth-of-type(4) p {
    margin-left: 6px;
}
.quick_menu .list .item:nth-of-type(5) p {
    margin-left: 6px;
}

.cont02 {
    width: 1920px;
    padding: 80px 0;
    background-color: #f4f2ea;
}
.cont02 .inner {
    width: 1280px;
    margin: 0 auto;
}
.cont02 .inner h3 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 40px;
}
.cont02 .inner .list {
    display: flex;
    justify-content: space-between;
}
.cont02 .inner .list .item a {
    width: 308px;
    height: 253px;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 20px;
}
.cont02 .inner .list .item a .top p {
    font-size: 12px;
    padding: 4px 14px;
    border: 1px solid #ec4d2c;
    display: inline-block;
    border-radius: 10px;
    color: #ec4d2c;
    margin-bottom: 15px;
}
.cont02 .inner .list .item a .top h4 {
    font-size: 18px;
    line-height: 23.4px;
    word-spacing: -2px;
}
.cont02 .inner .list .item a .bottom {
    width: 268px;
    display: flex;
    justify-content: space-between;
}
.cont02 .inner .list .item a .bottom p {
    font-size: 15px;
}
.cont02 .inner .list .item:hover a .bottom p:nth-of-type(2) {
    font-size: 15px;
    color: #ec4d2c;
}
.cont02 .inner figure {
    text-align: center;
    margin-top: 40px;
}
.cont02 .inner figure img:hover {
    background-image: url('../img/img/+\(색바뀜\).png');
}


.cont03 {
    width: 1920px;
    padding: 80px 0;
}
.cont03 .inner {
    width: 1064px;
    margin: 0 auto;
}
.cont03 .inner h3 {
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
}
.cont03 .inner p {
    font-size: 22px;
    margin-bottom: 40px;
    text-align: center;
}
.cont03 .inner .list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cont03 .inner .list .item {
    width: 508px;
    height: 405px;
}
.cont03 .inner .list .item figure {
    width: 508px;
    height: 287px;
}
.cont03 .inner .list .item figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cont03 .inner .list .item h4 {
    font-size: 24px;
    margin: 20px 0;
}
.cont03 .inner .list .item p {
    font-size: 15px;
    text-align: left;
}
.cont03 .inner p:nth-of-type(2) {
    width: 156px;
    height: 60px;
    margin: 40px auto 0;
    background-color: #f2f2f2;
    line-height: 60px;
    font-size: 18px;
}
.cont03 .inner p:nth-of-type(2):hover {
    background-color: #ddd;
}


/****** footer ******/

footer {
    padding-top: 80px;
}
.bottom_bnr {
    width: 1920px;
    height: 56px;
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    line-height: 56px;
}
.bottom_bnr div {
    width: 1280px;
    margin: 0 auto;
}
.bottom_bnr div ul {
    display: flex;
}
.bottom_bnr div ul li {
    color: #797979;
    
}
.bottom_bnr div ul li:first-child {
    color: #333;
    font-size: 18px;
    font-weight: 700;
    margin-right: 27px;
}
.bottom_bnr div ul li:nth-child(2) {
    border: 1px solid #ddd;
    width: 24px;
    height: 24px;
    line-height: 20px;
    text-align: center;
    margin-top: 15px;
}
.bottom_bnr div ul li:nth-child(3) {
    border: 1px solid #ddd;
    width: 24px;
    height: 24px;
    line-height: 20px;
    text-align: center;
    margin-top: 15px;
}
.bottom_bnr div ul li:nth-child(4) {
    border: 1px solid #ddd;
    width: 24px;
    height: 24px;
    line-height: 20px;
    text-align: center;
    margin-top: 15px;
    margin-right: 58px;
}
.bottom_bnr div ul li:nth-child(5) {
    margin-right: 65px;
}
.bottom_bnr div ul li:nth-child(6) {
    margin-right: 65px;
}



.bottom_logo {
    width: 1920px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.bottom_logo .inner {
    width: 1280px;
    margin: 0 auto;
    display: flex;
}
.bottom_logo .inner figure {
    width: 175px;
    height: 103px;
    margin-right: 65px;
}
.bottom_logo .inner figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bottom_logo .inner p {
    color: #666;
    margin-bottom: 15px;
}
.bottom_logo .inner ul {
    display: flex;
    width: 670px;
    flex-wrap: wrap;
    line-height: 22.4px;
}
.bottom_logo .inner ul li {
    font-size: 14px;
    color: #666;
    padding-right: 14px;
}